# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*.pyo

# Entornos virtuales
env/
venv/

# Archivos de log
*.log

# Archivos de configuración sensibles
.env

# Archivos de cobertura y pruebas
htmlcov/
.coverage
.tox/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3

# Archivos generados por Django
/media/
staticfiles/
*.pot

# Migraciones (excepto __init__.py)
*/migrations/
!*/migrations/__init__.py

# =========================
# Frontend (Node.js + Vite)
# =========================
client/node_modules/
client/.env
client/dist/

# =========================
# Entornos de desarrollo
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.swp
*.bak
*.tmp






