# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Entorno virtual
venv/

# Archivos de configuración secretos
.env

# Archivos generados por Django
/media/
staticfiles/
db.sqlite3

# VSCode
.vscode/
